{% extends "default.html" %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <title>Dashboard</title>
</head>
{% block body %}

    <div id="wrapper" style="background: #60a3bc;">
        <!-- Navigation -->   
        <div id="page-wrapper" style="min-height: 602px;">
            <!-- /.row -->
            <div class="row">
              <div class="col-lg-8">
                    <div class="panel panel-default">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                            
                        </div>
                        <div class=metanav style="display:inline-block;float:right;">
                            {% if not session.isLogged %}
                              <a href="{{ url_for('auth') }}"></a>
                            {% else %}
                    
                               <form role="form" method="GET" action="usersList">
                                              <fieldset>
                                       <input type="submit" class="btn btn-lg btn-primary" style="background-color: #f44336" value="Listar Usuarios">
                                                   </fieldset>
                                   </form>
                                   <form role="form" method="GET" action="logout">
                                    <fieldset>
                             <input type="submit" class="btn btn-lg btn-primary" style="background-color: #f44336" value="Logout">
                                         </fieldset>
                                </form>
                            {% endif %}
                         </div>
                         {% for message in get_flashed_messages() %}
                           <div class=flash>{{ message }}</div>
                         {% endfor %}
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        
       </div>
    </div>
    <!-- /#wrapper -->

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static', filename='vendor/metisMenu/metisMenu.min.js')}}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{url_for('static', filename='vendor/raphael/raphael.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/morrisjs/morris.min.js')}}"></script>
    <script>
       $(function() {
          Morris.Area({
            element: 'morris-area-chart',
              data:[{% for entry_data in entries_data %} {
    	        period: '{{entry_data[0]}}',
                cpu: {{entry_data[2]}},
                mem: {{entry_data[3]}} 
                },

                {% endfor %}

                ],
          xkey: 'period',
          ykeys: ['cpu'],
          labels: ['cpu', 'iPad', 'iPod Touch'],
          pointSize: 2,
          hideHover: 'auto',
          resize: true
          });
     });
    </script>

    <!-- Custom Theme JavaScript -->
    <script src="{{url_for('static', filename='dist/js/sb-admin-2.js')}}"></script>

{% endblock %}