{% block body %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>

   .align-icons {
     display: block; 
     margin-left: auto; 
     margin-right: auto
   }

   .align-text {
     display: block; 
     text-align: center;
   }

   .users-list {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center
   }

 
/* Set a style for all buttons */
button2 {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button2:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

/* body {
  background: #60a3bc;
} */

td, h1, h3 {
  background: #ffffff;
}

</style>

<script>
    
    var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
   
</script>

<body>
<h1>Projeto Python & Flask</h1>
<h3>Lista de usuários cadastrados:</h3>
<tbody>
<div id="li-content-wrapper">
   
   
  <table id="lista-tarefas" class="table table-bordered table-striped">
    <th class="text-center text-uppercase">Login</th>
    <th class="text-center text-uppercase">Senha</th>
    <th class="text-center text-uppercase">Excluir</th>   
     {% for users_data in users_data %}
     <tr class="tr">
        <form role="form" method="POST" action="/deleteUser">

        <td class="teste"><input type = "hidden" name="usuario" value="{{ users_data[0] }}">{{ users_data[0] }}</td>
        <td class="align-text"><img src="/static/assets/bloqueio.png" alt="password" class="align-icons"></td>
        <td class="text-center">
            <p data-placement="top" data-toggle="tooltip" title="Excluir" class="acoes-btn">
             <button type="submit" class="btn btn-danger btn-xs" style="padding: 5px 7px" data-title="Delete" data-toggle="modal" data-target="#delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </p>
        </td>
     </form>
     </tr>
    {% endfor %}

</table>
</tbody>
</div>
<div>
<div class="btn-voltar" style="float:right;">
   <form role="form" method="GET" action="dashboard"> <fieldset>
      <input type="submit" class="btn btn-lg btn-primary" style="background-color: #f44336;" value="Voltar"> </fieldset>
   </form>
  </div>
</div>

</body>
{% endblock %}

