 {% extends "default.html" %}
 {% block body %}
 
 <div class="page-header">
	<h1>Cadastro de Usuario</h1>
 </div>
 <div class="panel-body">
	<form class="navbar-form navbar-left" action="createUser" method="POST">
		<table>
			<tr>
				<td>E-mail* :</td>
				<td><input type="text" class="form-control" name="usuario" type="email" autofocus></td>
			</tr>
			<tr>
				<td>Senha* :</td>
				<td><input type="password" class="form-control" name="senha" value=""></td>
			</tr>

		</table><br>
			<input type="submit" class="btn btn-primary btn-lg" value="Salvar Cadastro"/>
	</form>
 </div>
 <div class="panel-body">
        <form role="form" method="GET" action="/">
                       <fieldset>
				<input type="submit" class="btn btn-lg btn-primary" value="Voltar">
                            </fieldset>
			</form>

 </div>
{% endblock %}
